.terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
.build
.idea/
.DS_Store
source/kubeconfig/
kubeconfig*
.terraform.lock.hcl
local_tf_state/
.vscode
.gitallowed
site
.terraformrc
terraform.rc
debug.log
*.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json